.List-element {
    padding-left: 5%; 
    padding-top: 1em;

}

.Mobile-menu-container {
    width: 100%;
    height: 100%;

}
#Select-box {
    padding-top: 0px;
    text-align: left !important;
}

.County-name {
    padding-left: 10px;
}


.Select-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 16px;
    color: #ffffff;
    padding-left: 0%;
}




.Select-an-area {
  
    font-family: DMSerifDisplay;
    font-size: 24px;
    padding-left: 10%;
    color: #ffffff;
    font-family: 'DM Serif Display';

  }

.Selection-list {
    background-color: #121212;
    height: 100%;
    padding-top: 4em;
    font-family: 'DM Sans';
}

.Button-container {
    display: flex;
    align-items: center;

}

.counties{
    padding-top: 2em;
}


@media only screen and (max-width: 768px) {
    .Mobile-menu-container {
   
      position:relative;
      bottom: 60px;
      top: 0px;
    
    }
  }