.Statistics-view {
    
    background-color: #151515;
    padding-left: 10%;
    height: 35vh;
    overflow-y: scroll;
    
}

.County-info {
    width: 50vw;
    background-color: black;
    height: 100vh;
}

.Displaying {
    font-family: sans-serif;
    font-size: 16px;
    color: #717171;
    padding-top: 20px;
}

.County {
    font-family: Times;
    font-size: 36px;
    color: #ffffff;

  }

  .COVID-19-changes-in-your-area {
    font-family: sans-serif;
    font-size: 16px;
    color: #717171;
    padding-top: 24px;
 
  }

  .Confirmed-number {
    font-family: sans-serif;
    font-size: 48px;
    color: #ffffff;
  }

  .Confirmed {
    font-family: sans-serif;
    font-size: 16px;
    color: #717171;
    text-align: left;

  
  }

  .Deceased-number {
    font-family: sans-serif;
    font-size: 48px;
    color: #ffffff;
  }

  .Deceased {
    font-family: sans-serif;
    font-size: 16px;
    color: #717171;  
    text-align: left;
  }


  .Showing-Department-of-Public-Health-data {
    font-family: sans-serif;
    font-size: 14px;
    color: #717171;
  }


  .-today {
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    color: #ffa700;
    white-space: nowrap;
    padding-bottom: 10px;
  }

  .News-feed {
    background-color: #121212;
    height: 65vh;
    overflow-y: scroll;
    width: 50vw
  }



  .Timestamp {
    font-family: sans-serif;
    font-size: 14px;
    color: #ffa700;
  }

  .Title {
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
  }

  .Sourcename {
    font-family: sans-serif;
    font-size: 14px;
    color: #717171;
  
  }

  .Stats {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      font-family: sans-serif;

  }

  .CurrentNumbers {
    flex-grow: 1;
    font-family: sans-serif;
    font-size: 48px;
    color: #ffffff;
  }

  .Column {
    padding-right: 10%;
    display: flex;
    flex-direction: column;
 
  }

  .Labels {
    font-family: sans-serif;
    font-size: 16px;
    color: #717171;
    display: inline-block;
  }

  .Increased {
    font-family: sans-serif;
    font-size: 16px;
    color: #717171;
  }

  ion-icon {
    font-size: 10px;
    padding-bottom: 3px;
  }


  .Local-updates-for-Los-Angeles-Orange-County {

    font-family: sans-serif;
    font-size: 16px;
    color: #717171;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .Article-element {
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 10px;
      padding-bottom: 10px;
  }