.header {
    background-color: #27292d;
   
    align-items: center;
}

.logo-pic {
    width: 48px;
    height: 58.7px;
}

.grid-logo{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
}

.logo-title {
    font-family: 'DM Serif Display';
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 0.5em;

}

#Menu-icon {
    height: 20px;
    width: 36px;
    color: white;
}

#Close-icon{
    height: 48px;
    width: 36px;
    color: white;

}


.Menu-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    right: 0px;
    top: 0px;
    padding-left: 15vw;
}

@media only screen and (max-width: 768px) {
    .header {
        position: sticky !important;
        top: 0px; 
        display: grid;
        grid-template-columns: [firstC] 33% [secondC] 33% [thirdC] 33%;
        grid-template-rows: [firstR] 100%;
    }

    .Menu-button{
        grid-area: thirdC/thirdC/firstR/firstR;
    }

    .grid-logo{
        padding-left: 10vw;
    }
  }

 