
.footer-wrapper{
    background-color: #27292d;
    padding-left: 5vw;
    padding-top: 4vh;
    padding-bottom: 4vh;

    font-family: 'DM Sans', sans-serif;
    color: white;

}

.contact{
    display: flex;
    flex-direction: row;
    
}

.desc{
    display: flex;
    flex-direction: row;
}

.desc-text{
    padding-bottom: 0.5em;
}

.mail-outline{
    padding-right: 5em;
}

#info{
    padding-right: 0.7em;

}

#mail{
    padding-right: 0.7em;
}

.footer-text{
    text-decoration:none; 
    cursor:pointer;  
    color: white;
}

.footer-text:hover{
    text-decoration: none;
    color: #ffa700;
}