.header {
    width: 95%;
    background-color: #27292d;
    display: flex;
    align-items: center;
    padding-left: 5%;
    height: 50px;
}

.logo-pic {
    width: 48px;
    height: 58.7px;
}

.logo-title {
    font-family: DMSerifDisplay;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #ffffff;

}

#Menu-icon {
    height: 24px;
    width: 24px;
    color: white;
}


.Menu-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute;
    padding: 4px;
    right: 0px;
    top: 0px;
}

@media only screen and (max-width: 768px) {
    .header {
        position: absolute !important;
        top: 0px; 
    }
  }